.careers-header-img {
  background-color: #9e4f71 !important;
}
.articles-header-img {
  background-color: #000000 !important;
}
.jobs__location-name {
  font-weight: 800;
}
.jobs-subtitle {
  font-weight: 600;
}
.work-page {
  min-height: 100vh;
}