.home-section-background-section3-1 {
  background-image: url("https://s3.amazonaws.com/waverly-marketing-site/paid-media-background.png");
}
.home-section-background-section3-2 {
  background-image: url("https://s3.amazonaws.com/waverly-marketing-site/paid-media-background.png");
}
.home-section-background__index_section3_1, .section_hr_tag,
.section3_a_tag, .home-section-background__index_section3_2,
.home-section-details__eyebrow_section3_h5_1 {
  color:#FFFFFF;
  
}
.home-section-background__line_section3_1,.home-section-background__index_section3_2 span{
  border-color:#FFFFFF;
}
.home__title_instruction_text {
	font-size:25px;
}
.home__title_title_text {
	font-size: 53px;
}
.font-color-black {
  color:black !important;
}
